<!DOCTYPE html>
<html>
  <head>
{% if pagename %}{# load editor for the page #}
    <script src="lib/jquery.min.js"></script>
    <script src="lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="lib/codemirror/codemirror.css">
  {% if pagename|slice:"-3:" == "rst" %}
    <script src="lib/codemirror/mode/rst/rst.js"></script>
    <link rel="stylesheet" href="lib/codemirror/mode/rst/rst.css">
    {# [ ] custom style for rst mode #}
  {% endif %}
{% endif %}
  </head>


  <body>
{% if title %}<h4>{{title}}</h4>{% endif %}

{% if error %}<div class='error'>{{error}}</div>{% endif %}


{% if pagelist %}
<ul class='pagelist'>
  {% for page in pagelist %}
  <li><a href="{% url DocEdit %}?page={{page}}">{{page}}</a></li>
  {% endfor %}
</ul>
{% endif %}


{% if pagename %}{# editor #}
<script type="text/javascript">
var cm; // placeholder for CodeMirror editor object

$(document).ready(function() {
  cm = CodeMirror(document.body);
  $.get("{{pagename}}", function(data) {
    cm.setValue(data);
  });
});
</script>
{% endif %}


  </body>
</html>